.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.login-form__heading {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 35%;
    text-align: center;
}

.form__group {
    margin-bottom: 5px;
}

.form__group-title {
    text-align: left;
    font-weight: bold;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-size: 14px;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ff5655;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.register__link {
    margin-top: 20px;
    text-align: center;
}

.register__button-submit {
    text-decoration: none;
    color: #00aaff;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .form {
        width: 32%;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .form {
        width: 60%;
    }

    .login-form__content,
    .register-form__content {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 767px) {
    .form {
        width: 90%;
    }

    .form__button-submit {
        height: 45px;
        font-size: 16px;
    }
}
